:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section {
  padding: 1rem 1.5rem;
}

.panel {
  font-size: 0.85rem;
}

.button {
  font-size: 0.85rem;
}

#panel {
  min-width: 280px;
}

.panel-items {
  height: 400px;
  overflow: scroll;
}

.panel-block {
  font-size: 0.8em;
}

.topology-controls {
  position: absolute;
  right: 0;
  padding-right: 0.5em;
  z-index: 10;
}
