<app-top-nav></app-top-nav>
<section class="section">
  <div class="container">
    <nav class="level is-mobile">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Domains</p>
          <p class="title">--</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Endpoints</p>
          <p class="title">{{ endpointCount }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Services</p>
          <p class="title">--</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Switches</p>
          <p class="title">{{ switchCount }}</p>
        </div>
      </div>
    </nav>
  </div>
</section>
<section class="section is-flex is-flex-fill">
  <div class="columns is-flex-fill">
    <div class="column is-2-desktop is-offset-one-desktop">
      <nav id="panel" class="panel">
        <p class="panel-heading">
          Management
        </p>
        <div class="panel-block">
          <p class="control has-icons-left">
            <input class="input is-small" type="text" placeholder="Search">
            <span class="icon is-small is-left">
                <i class="fa fa-search"></i>
              </span>
          </p>
        </div>
        <p class="panel-tabs">
          <a class="is-active">All</a>
          <a>Domains</a>
          <a>Endpoints</a>
          <a>Services</a>
          <a>Switches</a>
        </p>
        <div class="panel-items">
          <a class="panel-block" *ngFor="let switch of switches" (click)="selectedSwitch = switch">
            <span class="panel-icon">
              <i class="fa fa-server"></i>
            </span> {{ switch.id }}
          </a>
          <a class="panel-block" *ngFor="let endpoint of endpoints">
            <span class="panel-icon">
              <i class="fa fa-desktop"></i>
            </span> {{ endpoint.id }}
          </a>
        </div>
        <div class="panel-block">
          <button class="button is-primary is-outlined is-fullwidth">
              Reset all filters
            </button>
        </div>
      </nav>
    </div>
    <div id="topology" class="column is-10-desktop">
      <div class="topology-controls">
        <a class="button is-medium" (click)="resetLayout()">
          <span class="icon is-medium">
            <i class="fa fa-repeat"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
<app-switch-form [virtualPorts]="virtualPorts" [switchData]="switchData"></app-switch-form>
