<div class="container">
  <nav class="nav">
    <div class="nav-left">
      <a class="nav-item">
      SDN Client
    </a>
    </div>

    <div class="nav-center">
      <a class="nav-item" href="https://gitlab.com/AnttiL/sdn-client" target="_blank">
        <span class="icon">
        <i class="fa fa-gitlab"></i>
      </span>
      </a>
    </div>

    <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
    <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <!-- This "nav-menu" is hidden on mobile -->
    <!-- Add the modifier "is-active" to display it on mobile -->
    <div class="nav-right nav-menu">
      <a class="nav-item" routerLink="/" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}">
        Home
      </a>
      <a class="nav-item" routerLink="/management" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}" *ngIf="loggedIn">
        Management
      </a>
      <a class="nav-item" routerLink="/login" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}" *ngIf="!loggedIn">
        Login
      </a>
      <a class="nav-item" (click)="LogOut()" *ngIf="loggedIn">
        Log Out
      </a>
    </div>
  </nav>
</div>
