<div class="modal is-active" [hidden]="switch == undefined">
  <div class="modal-background"></div>
  <div class="modal-card is-left">
    <section class="modal-card-body">
      <div id="switch-topology"></div>
    </section>
  </div>
  <div class="modal-card is-right" *ngIf="switch">
    <header class="modal-card-head">
      <p class="modal-card-title">Switch: {{ switch.id }}</p>
      <button class="delete" (click)="close()"></button>
    </header>
    <section class="modal-card-body">
      <div *ngIf="!port">
        Physical ports not found.
      </div>
      <div *ngIf="port">
        <label class="label">Physical ports</label>
        <nav class="nav">
          <div class="nav-left">
            <a class="nav-item" [ngClass]="{'is-active': port.id === p.id}" *ngFor="let p of switch.ports; let i = index" (click)="selectPort(i)">
              <p>#{{ p.number }}</p>
              <figure class="image">
                <img src="/assets/images/ethernet.png">
              </figure>
            </a>
          </div>
        </nav>
        <p>Port ID: {{ port.id }}</p>
        <hr />
        <label class="label">Virtual ports</label>
        <nav class="nav">
          <div class="nav-left">
            <a class="nav-item" [ngClass]="{'is-active': vPort.id === vp.id}" *ngFor="let vp of vPorts; let i = index">
              <p (click)="changeVirtualPort(vp.id)">{{ vp.enfPortState }}</p>
            </a>
            <a class="nav-item">
              <p (click)="addNew = !addNew">Add new</p>
            </a>
          </div>
        </nav>
        <form (ngSubmit)="createVirtualPort()" #newForm="ngForm" *ngIf="addNew">
          <div class="field">
            <label class="label">New Virtual Port</label>
            <div class="control is-expanded">
              <input class="input" type="text" name="uuid" placeholder="Parent UUID (optional)">
            </div>
          </div>
          <div class="field is-grouped">
            <p class="control">
              <button class="button is-primary">Create</button>
            </p>
            <p class="control">
              <button class="button is-link" (click)="addNew = !addNew">Cancel</button>
            </p>
          </div>
        </form>
        <hr />
        <form (ngSubmit)="saveVirtualPort()" #saveForm="ngForm" *ngIf="vPort.id">
          <div class="field">
            <label class="label">Virtual port ID</label>
          </div>
          <div class="field is-grouped">
            <p class="control is-expanded">{{ vPort.id }}</p>
            <p class="control">
              <a class="button is-danger" (click)="deleteVirtualPort()">Delete</a>
            </p>
          </div>
          <div class="field">
            <label class="label">Virtual port state</label>
            <div class="control has-icons-center">
              <label class="radio">
              <input type="radio" name="vPortState" value="DISABLED" [(ngModel)]="vPort.reqPortState">
              <span class="icon is-center">
                <i class="fa fa-ban"></i>
              </span>
            </label>
              <label class="radio">
              <input type="radio" name="vPortState" value="INTERNAL" [(ngModel)]="vPort.reqPortState">
              <span class="icon is-center">
                <i class="fa fa-sitemap"></i>
              </span>
            </label>
              <label class="radio">
              <input type="radio" name="vPortState" value="EDGE_PORT" [(ngModel)]="vPort.reqPortState">
              <span class="icon is-center">
                <i class="fa fa-desktop"></i>
              </span>
            </label>
              <label class="radio">
              <input type="radio" name="vPortState" value="PSEUDOWIRE" [(ngModel)]="vPort.reqPortState">
              <span class="icon is-center">
                <i class="fa fa-refresh"></i>
              </span>
            </label> {{ vPort.reqPortState }}
            </div>
          </div>
          <div class="field">
            <label class="label">VLAN ID</label>
            <div class="control is-expanded">
              <input class="input" [(ngModel)]="vlanId" name="vlanId" type="number" min="0" max="4096" placeholder="None">
            </div>
          </div>
          <div class="field">
            <label class="label">Features</label>
            <div class="control has-icons-center">
              <label class="checkbox">
              <input type="checkbox" [(ngModel)]="lldp" name="lldp" [ngClass]="{'disabled': vPort.reqPortState != INTERNAL}">
              <span class="icon is-center">
                <i class="fa fa-globe"></i>
              </span>
            </label>
            </div>
          </div>
          <div class="field">
            <p class="control">
              <button type="submit" class="button is-success">Apply</button>
            </p>
          </div>
        </form>
      </div>
    </section>
    <footer class="modal-card-foot">
      <a class="button is-success">Save changes</a>
      <a class="button" (click)="close()">Cancel</a>
    </footer>
  </div>
</div>
