#switch-topology {
  position: relative;
  height: 100%;
  width: 100%;
}

[hidden] {
  display: none;
}

.modal-card {
  margin: 0 50px;
}

.modal-card-body {
  height: 100%;
  width: 100%;
  padding: 0;
}

.modal-card.is-left {
  display: block;
  height: 700px;
  width: 800px;
}

.modal-card.is-right {
  height: 800px;
}

.modal-card.is-right .modal-card-body {
  padding: 10px;
  overflow-y: scroll;
}

.nav {
  height: auto;
  padding: 0 0 10px 0;
}

.nav-left {
  display: block;
}

.nav-item {
  display: block;
  float: left;
  padding: 5px 10px;
}

img {
  height: 30px;
  width: 32px;
  margin-right: 5px;
}

hr {
  margin: 1rem 0;
}

.field-body {
  flex-grow: 7;
}

input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  height: 0;
  width: 0;
}


.radio,
.checkbox,
input[type="radio"]:before,
input[type="checkbox"]:before {
  height: 50px;
  width: 50px;
}

.control.has-icons-center .icon.is-center {
  height: 100%;
  width: 100%;
}

.icon .fa {
  font-size: 1.5em;
}

input[type="radio"]:before,
input[type="checkbox"]:before {
  display: block;
  position: relative;
  content: '';
  border: 2px solid #CCC;
  border-radius: 10px;
}

input[type="radio"]:checked:before,
input[type="checkbox"]:checked:before{
  border: 2px solid #000;
}

input[type="radio"] + span,
input[type="checkbox"] + span{
  color: #CCC;
}

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span{
  color: #000;
}
