<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <div class="field">
    <label class="label">Username</label>
    <p class="control has-icon">
      <input class="input" type="text"
             [ngClass]="{'is-danger': loginError}"
             name="username" [(ngModel)]="username"
             required>
      <span class="icon is-small">
		<i class="fa fa-user-circle"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <label class="label">Password</label>
    <p class="control has-icon">
      <input class="input" type="password"
             [ngClass]="{'is-danger': loginError}"
             name="password" [(ngModel)]="password"
             required>
      <span class="icon is-small">
        <i class="fa fa-lock"></i>
      </span>
    </p>
    <p class="help is-danger" *ngIf="loginError">Login failed.</p>
  </div>
  <div class="field">
    <p class="control">
      <label class="checkbox">
        <input type="checkbox">
        Remember me
      </label>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button class="button is-primary" [ngClass]="{'is-loading': submitted}" [disabled]="!loginForm.form.valid">Submit</button>
    </p>
  </div>
</form>
