<app-top-nav></app-top-nav>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third-desktop is-offset-one-third-desktop">
        <h1 class="title">Login</h1>
        <app-login-form></app-login-form>
      </div>
    </div>
  </div>
</section>
