<app-top-nav></app-top-nav>
<section class="section">
  <div class="container">
    <h1 class="title">Home</h1>
    <h2 class="subtitle">
      Hey, hey, hey, hey, hey! (The video waiters shut up.) All I want is a Pepsi. (A Pepsi in a futuristic bottle appears out of the counter. Marty picks it up and looks at it.) Hey McFly! (Marty turns to Biff.) Yeah, I seen you around. You're Marty McFly's kid, aren't you? Biff? You're Marty Jr! Tough break kid, must be rough being named after a complete butthead.
    </h2>
  </div>
</section>
